@import "tailwindcss";

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;

    --color-c-gold-1: #CDAC81;
    --color-c-brown-1: #6C4334;
    --color-c-white-1: #EDEAE6;
    --color-c-black-1: #242222;
    --color-c-black-2: #504E4E;
    --color-c-black-3: #7C7A7A;
    --color-c-black-4: #A7A7A7;
    --color-c-black-5: #D3D3D3;

    --font-primary: "Philosopher", "Times New Roman", serif;
    --font-secondary: "Nunito", "Helvetica", sans-serif;
    --font-tertiary: "Whisper", "Brush Script MT", cursive;

    --text-h1: 64px;
    --text-h2: 48px;
    --text-h3: 32px;
    --text-h4: 24px;
    --text-h5: 20px;
    --text-h6: 16px;

    --text-large: 24px;
    --text-medium: 20px;
    --text-regular: 16px;
    --text-small: 14px;
    --text-tiny: 10px;
}

@layer base {
    h1 {
        font-family: var(--font-primary);
        font-size: var(--text-h1);
    }
    h2 {
        font-family: var(--font-primary);
        font-size: var(--text-h2);
    }
    h3 {
        font-family: var(--font-primary);
        font-size: var(--text-h3);
    }
    h4 {
        font-family: var(--font-primary);
        font-size: var(--text-h4);
    }
    h5 {
        font-family: var(--font-primary);
        font-size: var(--text-h5);
    }
    h6 {
        font-family: var(--font-primary);
        font-size: var(--text-h6);
    }

    p {
        font-family: var(--font-secondary);
        font-size: var(--text-regular);
    }

    a {
        font-family: var(--font-secondary);
        font-size: var(--text-regular);
    }
}

body {
    background-color: var(--color-c-black-1);
}